
services:
  protonmail-bridge:
    build: 
      context: ./deb
      dockerfile: Dockerfile
    container_name: protonmail-bridge
    volumes:
      - protonmail-store:/root
    ports:
      - "127.0.0.1:1028:25"
      - "127.0.0.1:1154:143"
    restart: unless-stopped
    stdin_open: true
    tty: true

networks: 
  default: 
    name: protonmail_bridge_net
volumes:
  protonmail-store: